:root {
	--color-white: #FFFFFF;
	--color-grey: #757575;
	--color-black: #000000;
	--color-1: #FAFAFA;
	--color-2: #F5F5F5;
	--color-3: #EEEEEE;
	--color-4: #BBDEFB;
	--color-5: #64B5F6;
}

@font-face {
font-family: 'Quicksand';
  src: url("/font/Quicksand-Regular.ttf");
}

@font-face {
	font-family: 'Rubik';
	src: url("/font/Rubik-Regular.ttf");
}

@keyframes popout {
	from{transform:scale(0)}
	90%{transform:scale(1.025)}
	to{transform:scale(1)}
}

body, html {
	margin: 0 ;
	padding: 0;
	font-family: 'QuickSand';
	font-weight: normal;
	overflow-y: auto;
	height:100%;
}
#header {
	width: calc(100% - 20px);
	height: 30px;
	background-color: var(--color-white);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 10px;
	font-family: 'Rubik';
	font-size: 22px;
	position: relative;
}
.icon-button {
	width: 50px;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	cursor: pointer;
	transition: .3s;
}
#user {
	position: absolute;
	top:0;
	right: 0;
	background-image: url("/img/user.svg");
	border-radius: 50px;
}
#user:hover {
	background-image: url("/img/hover/user.svg");
}
#ask-container {
	width: calc(100% - 40px);
	background-color: var(--color-1);
	border-radius: 0px 0px 25px 25px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 20px;
	height: calc(75px - 40px);
	transition: .3s;
	overflow: hidden;
	text-align: center;
}
#question {
	width: 450px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid var(--color-2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	display: block;
	outline: none;
	margin: 0 auto 20px;
}
#question:hover {
	outline: none;
}
.question-module {
	width: 325px;
	height: auto;
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	background-color: var(--color-white);
	color: var(--color-grey);
	font-size: 14px;
	position: relative;
	line-height: 30px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	transform: scale(0);
	transition: .4s;
	margin: auto 20px 20px;
	animation-fill-mode: forwards;
}
#keyword-container {
	width: 645px;

}
#emotion {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: absolute;
	top:0;
	left:0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	background-image: url("/img/question.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#emotion-top {
	width: calc(100% - 40px);
	height: 30px;
	background-color: var(--color-white);
	padding-left:40px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 15px;
}
#keyword-top {
	width: 100px;
	padding-left:10px;
	background-color: var(--color-white);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 15px;
	display: inline-block;
	vertical-align: top;
}
#emotion-bottom {
	width: 100%;
	height: auto;
	margin-top:15px;
	transition: .3s;
}

#keyword-bottom {
	width: calc(100% - 114.5px);
	transition: .3s;
	display: inline-block;
	height: 30px;
	vertical-align: top;
	text-align: left;
}
.emotion-holder {
	width: calc(100% - 15px);
	height: 40px;
	margin: 7.5px;
}
.emotion-face {
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	display: inline-block;
	margin-right: 10px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.emotion-bar-outer {
	width: calc(100% - 45px);
	height: 15px;
	margin: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-radius: 7.5px;
	display: inline-block;
	background-color: var(--color-1);
	position: relative;
	overflow: hidden;
}
.emotion-bar-inner {
	position: absolute;
	top:0;
	left:0;
	height: 15px;
	background-color: var(--color-5);
	width: 0%;
	transition: .3s;
}
#sadness-face {
	background-image: url("/img/emotion/sadness.svg");
}
#joy-face {
	background-image: url("/img/emotion/joy.svg");
}
#fear-face {
	background-image: url("/img/emotion/fear.svg");
}
#disgust-face {
	background-image: url("/img/emotion/disgust.svg");
}
#anger-face {
	background-image: url("/img/emotion/anger.svg");
}
.keyword {
	background-color: var(--color-2);
	display: inline-block;
	color: var(--color-black);
	border-radius: 25px;
	padding: 0px 10px;
	font-size: 12px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	text-align: center;
	opacity: 0;
	transition: .3s;
	width: fit-content;
	height: 20px;
	line-height: 20px;
	margin: 5px 7.5px;
	vertical-align: top;
}
.g-signin2 {
	width: fit-content;
	margin: auto;
}
.abcRioButton {
	border-radius: 25px !important;
}

#sign-in-warning {
	color: var(--color-grey);
	font-size: 11px;
	margin-bottom: 5px;
}
.question {
	border-radius: 25px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	display: inline-block;
	padding: 10px 10px 40px;
	font-size: 13px;
	width: 300px;
	margin: 10px;
	background-color: #fefefe;
	position: relative;
}
.question-time {
	position: absolute;
	bottom: 10px;
	left:15px;
	font-size: 12px;
	color: var(--color-grey);
}
.question-asker {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 12px;
	color: var(--color-grey);
	padding-right: 30px;
}
.question-asker-image {
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0px;
	bottom:-5px;

}